#user-reg-f {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 87svh;
    background-image: url(../../assets/img/como_hacer_meditacion_zen_45688_orig.jpg);
    object-fit: cover;
    object-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    min-width: 300px;
    max-width: 400px;
    background-color: #ECDFD777;
    backdrop-filter: blur(30px);
    box-shadow: 2px 2px 20px #0004;
    border-radius: 7px;
    text-align: center;
    padding: 30px 35px 0 35px;
}

.container header {
    font-size: 28px;
    font-weight: 800;
    margin: 0 0 30px 0;
}

.container .form-user-reg {
    width: 100%;
    overflow: hidden;
}

.form-user-reg form {
    display: flex;
    width: 400%;
}

.form-user-reg form .page {
    width: 25%;
    transition: margin-left 0.3s ease-in-out;

}

.form-user-reg .page .form-user-reg-d {
    height: 35px;
    min-width: 260px;
    max-width: 330px;
    margin: 40px 0;
    display: flex;
    position: relative;
}

.form-user-reg .page .label {
    position: absolute;
    top: -25px;
    font-weight: bold;
    font-size: 1.1rem;
    float: left;
    text-align: left;
    width: 100%;
}

.form-user-reg .page input {
    width: 330px;
    height: 100%;
    border: 1px solid var(--secondary);
    border-radius: 5px;
    font-size: 1rem;
    padding-left: 1rem;
}

.form-user-reg .page button {
    width: 330px;
    height: calc(100% + 5px);
    margin-top: -20px;
    border: none;
    background-color: var(--primary);
    color: var(--black);
    border-radius: 7px;
    font-size: 1rem;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;
    cursor: pointer;
    transition: 0.3s ease;
    border: 1px solid var(--third);
}

.form-user-reg .page button:hover {
    background-color: var(--primary);
    color: var(--contrast);
}

.img#user-img {
    
    object-fit: cover;
    overflow: hidden;
    position: 0 0;
    height: 100px;
    width: 100px;
    margin: 2rem auto;
    border-radius: 100px;
    max-width: 100px;
}

#user-img img {
    width: 100%;
}

.form-user-reg-d.file {
    padding: 5px 0 0 0;
    border-radius: 5px;
}

.form-user-reg .file {
    display: none;
    background-color: var(--secondary);
}


/*---BARRA PROGRESS---*/

.container .progress-bar {
    display: flex;
    margin: 30px 0;
}

.container .progress-bar .pass {
    text-align: center;
    width: 100%;
    position: relative;
    cursor: default;
}

.progress-bar .pass p {
    font-size: 1rem;
    font-weight: 400;
    color: #000;
    margin-bottom: 8px;
    transition: 0.3s;
}

.progress-bar p.active {
    color: #a8234a;
}

.progress-bar .pass .num {
    position: relative;
    width: 25px;
    height: 25px;
    border: 2px solid #000;
    border-radius: 50%;
    display: inline-block;
    font-weight: 500;
    font-size: 17px;
    line-height: 25px;
    transition: 0.3s;
}

.progress-bar .pass .num.active {
    border-color: #a8234a;
    background-color: #a8234a88;
}

.progress-bar .pass .num span {
    font-weight: 500px;
    font-size: 17px;
    line-height: 25px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.progress-bar .pass .num.active span {
    display: none;
}

.progress-bar .pass .check {
    display: none;
    position: absolute;
    left: 50%;
    top: 70%;
    font-size: 15px;
    transform: translate(-50%, -50%);
}

.progress-bar .pass .check.active {
    display: block;
    color: #fff;
}

.progress-bar .pass .num:before,
.progress-bar .pass .num:after {
    position: absolute;
    content: '';
    width: 44px;
    height: 3px;
    bottom: 11px;
    right: -53px;
    background: #000;

}

.progress-bar .pass:last-child .num:before,
.progress-bar .pass:last-child .num:after {
    display: none;
}

.progress-bar .pass .num.active::after {
    background-color: #a8234a;
    animation: mov_Linea 0.3s linear forwards;
    transform: scalex(0);
    transform-origin: left;
}

@keyframes mov_Linea {
    100% {
        transform: scalex(1);
    }
}



/*estilos para mostrar mensaje de error*/

.error {
    color: var(--contrast);
    float: right;
    text-align: right;
    font-weight: 500;
    font-size: .9rem;
}
